/* src/components/Dashboard/Dashboard.css */

.dashboard {
  display: flex;
  min-height: 100vh;
  background: #eee;
}

.main-content {
  margin-left: 300px;
  flex: 1;
}

.main-content h1 {
  color: #003060;
    /* font-size: 2rem; */
  /* margin-bottom: 1rem; */
}

.main-content p {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.6;
}